@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-gradient {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
}